<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Camera Example</strong>
    <p>For more information go to <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/native/camera">Camera section</a></p>

    <ion-button class="ion-margin-top" (click)="camara()">Camera</ion-button>
    <ion-button class="ion-margin-top" (click)="libreria()">Libreria</ion-button>
    <ion-button class="ion-margin-top" (click)="barcode()">Barcode Scanner</ion-button>

    <p>content</p>
    <p>{{imgD}}</p>
    <p>{{error}}</p>
    <p>{{erroText}}</p>
    <p>{{base64StringData}}</p>

    <ion-row>
      <ion-col size="4" *ngFor="let image of tempImages">
        <ion-card>
          <img style="height:120px; width:110px" [src]="'data:image/jpeg;base64,' + image | imageSanitizer" alt="imag" />
          <img class="preview-img" [src]="exampleImagePath | imageSanitizer" alt="img2" />
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
